<section class="experiencia m-3">
    <app-editar-experiencia></app-editar-experiencia>
    <h3>Experiencia laboral</h3>
    <ol>
        <li *ngFor="let verExperiencia of experiencia">
            <div class="modoEdicion">
                <div class="btnEdicion">
                    <app-boton-eliminar></app-boton-eliminar>
                </div>
                <div class="contenido">
                    <h6>{{verExperiencia.posicion}}</h6>
                    <p><time>{{verExperiencia.fecha_inicio}}</time> | <time>{{verExperiencia.fecha_fin}}</time> | {{verExperiencia.empresa}}</p>
                </div>
            </div>
        </li>
    </ol>
</section>
