<div>
    <h3>Experiencia laboral</h3>
    <ol>
        <li>
            Ene2021-Feb2021 | Mera Solutions | Atención al público, call center
        </li>
        <li>
            2014-2020 | Joyería Giovanni | Atención al publico-ventas
        </li>
        <li>
            2016-2019 | Instructora de Acrobacia Aerea | Prefesora de acrobacia en telas
        </li>
        <li>
            Ago2014-Nov2014 | Las Cañitas | Atención al publico-ventas
        </li>
        <li>
            2010-2014 | Aquarela Fiestas infantiles | Encargada-auxiliar de
            animación-camarera
        </li>
        <li>
            2009-2011 | Fabrica de Bastidores Clan Corrado | Atención al público, recepción y distribución
        </li>
    </ol>
</div>
