<!--
<form [FormGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="nombre.invalid">contraseña incorrecta</div>
    <label for="">Nombre</label>
    <input type="text" formControlName="nombre">

    <label for="">Usuario</label>
    <input type="email" formControlName="usuario" placeholder="ejemplo@gmail.com">

    <label for="">Contraseña</label>
    <input type="password" formControlName="contrasenia" placeholder="Debe contener almenos 5 caracteres">

    <button type="submit">Ingresar</button>
</form>
<button (click)="setValue()">ver valores</button>

-->