<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="m-2">

            <label for="" class="m-2">Usuario</label>
            <input type="email" formControlName="users" class="rounded" placeholder="ejemplo@gmail.com">
        </div>
        <div class="m-2">

            <label for="" class="m-2" >Contraseña</label>
            <input type="password" formControlName="password" class="rounded" placeholder="Debe contener almenos 5 caracteres">
        </div>

        <div #usersPassword class="m-2">
            <label for="" class="m-2" >Repita contraseña</label>
            <input  type="password" formControlName="password" class="rounded" placeholder="Debe contener almenos 5 caracteres">
        </div>
        
        <button type="button" class="m-2 btn btn-dark" (click)="registrarse()">Registrarse</button>
        <button type="submit" [disabled]="loginForm.invalid" class="m-2 btn btn-dark" >Ingresar</button>
</form>
<!--(click)="ingresarEditor()"
#usersPassword -->