<section data-bs-toggle="modal" data-bs-target="#editarProyectos">
    <app-botones-de-edicion></app-botones-de-edicion>

    <div class="modal " id="editarProyectos" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editarProyectosLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
            <h5 class="modal-title" id="editarProyectosLabel">Experiencia</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProyecto" (ngSubmit)="guardarProyectos()" class="modal-body fs-5">
                    <div class="m-2 d-grid">
        
                        <label for="" class="m-2 fs-5">Nombre</label>
                        <input type="text" formControlName="nombre" onchange="nombre" class="rounded fs-6 p-2">
                    </div>
                    
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5" >Fecha</label>
                        <input type="date" formControlName="fecha" [value]="proyectos.fecha" class="rounded fs-6 p-2">
                            
                    </div>
        
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5" >Descripcion</label>
                        <input   type="text" formControlName="descripcion" value="descripcion" class="rounded fs-6 p-2" >
                    </div>
    
                    <div class="m-2 d-grid">
        
                        <label for="" class="m-2 fs-5">Tecnologias</label>
                        <input type="text" formControlName="tecnologias" class="rounded fs-6 p-2">
                    </div>

                    <div class="m-2 d-grid">
        
                        <label for="" class="m-2 fs-5">Link</label>
                        <input type="text" formControlName="link" class="rounded fs-6 p-2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="bi bi-trash3"></i></button>
                <button type="submit" class="btn btn-dark"  (click)="guardarProyectos()" [disabled]="formProyecto.invalid"><i class="bi bi-pencil"></i>Agregar</button>
                <button type="submit" class="btn btn-dark"  (click)="edicionDeProyecto()" [disabled]="formProyecto.invalid"><i class="bi bi-pencil"></i>Editar</button>
            </div>
        </div>
    </div>
    <p *ngIf="msjGuardar" class="m-4">Su proyecto fue creado correctamente</p>
    </div>
</section>