<section class="gridEducacion">
    <div class="titulos m-2">
        <app-botones-de-edicion></app-botones-de-edicion>
        <h3>Educacion</h3>
        <ol>
            <li *ngFor="let educacion of listaEducacion">
                <h6>{{educacion.titulo}}</h6>
                <p><time>{{educacion.fecha_inicio}}</time> | <time>{{educacion.fecha_fin}}</time> | {{educacion.establecimiento}}</p>
                
            </li>
        </ol>
    </div>
    <div class="cursos m-2">
        <app-botones-de-edicion></app-botones-de-edicion>
        <h3>Cursos</h3>
        <ol>
            <li *ngFor="let cursos of listacursos">
                <h6>{{cursos.titulo}}</h6>
                <p><time>{{cursos.fecha_inicio}}</time> | <time>{{cursos.fecha_fin}}</time> | {{cursos.establecimiento}}</p>
            </li>
        </ol>
    </div>
</section>