.gridEducacion{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "titulos cursos";
}
.titulos{
    grid-area: titulos;
    position: relative;
}
.cursos{
    grid-area: cursos;
    position: relative;
}

.modoEdicion{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
    "contenido  btnEdicion";
}
.btnEdicion{
    grid-area: btnEdicion;
}
.contenido{
    grid-area: contenido;
}