<section class="">

    <div class="gridEncabezado container">
        <app-encabezado class="encabezado"></app-encabezado>
        
        <app-botones class="botones"></app-botones>
        
        <app-banner class="banner"></app-banner>
        
        <app-datos-personales class="datosPersonales"></app-datos-personales>
        
        <app-acerca-de class="acercaDe"></app-acerca-de>
        
        <app-educacion class="educacion"></app-educacion>
        
        <app-experiencia class="experiencia"></app-experiencia>
        
        <app-habilidadesuras-blandas class="habilidadesuras"></app-habilidadesuras-blandas>
        
        <app-proyectos class="proyectos"></app-proyectos>
    </div>
</section>