<section class="">

    <div class="gridEncabezado container">
        <!-- <form [formGroup]="usuarioForm" (ngSubmit)="guardar()"> -->
            <!-- <div class="gridEncabezado container">
                <app-encabezado  class="encabezado"></app-encabezado>
                
                <app-botones class="botones"></app-botones>
                
                <app-banner class="banner"></app-banner>
                
                <app-datos-personales formControlName="datosPersona" class="datosPersonales"></app-datos-personales>
                
                <app-acerca-de formControlName="" class="acercaDe"></app-acerca-de>
                
                <app-educacion formControlName="educacion" class="educacion"></app-educacion>
                
                <app-experiencia formControlName="experiencia" class="experiencia"></app-experiencia>
                
                <app-habilidadesuras-blandas formControlName="habilidades" class="habilidadesuras"></app-habilidadesuras-blandas>
                
                <app-proyectos formControlName="proyectos" class="proyectos"></app-proyectos>
            </div> -->
        <!-- </form> -->

        <app-encabezado class="encabezado"></app-encabezado>
        
        <app-botones class="botones"></app-botones>
        
        <app-banner class="banner"></app-banner>
        
        <app-datos-personales class="obtenerDatosPersona"></app-datos-personales>
        
        <app-acerca-de class="acercaDe"></app-acerca-de>
        
        <app-educacion class="educacion"></app-educacion>
        
        <app-experiencia class="experiencia"></app-experiencia>
        
        <app-habilidadesuras-blandas class="habilidadesuras"></app-habilidadesuras-blandas>
        
        <app-proyectos class="proyectos"></app-proyectos>
    </div>
</section>
















<!--
    <section class="">

    <div class="gridEncabezado container">
        <router-outlet></router-outlet>
        <app-encabezado class="encabezado"></app-encabezado>
        
        <app-botones class="botones"></app-botones>
        
        <app-banner class="banner"></app-banner>
        
        <app-datos-personales class="datosPersonales"></app-datos-personales>
        
        <app-acerca-de class="acercaDe"></app-acerca-de>
        
        <app-educacion class="educacion"></app-educacion>
        
        <app-experiencia class="experiencia"></app-experiencia>
        
        <app-habilidadesuras-blandas class="habilidadesuras"></app-habilidadesuras-blandas>
        
        <app-proyectos class="proyectos"></app-proyectos>
    </div>
</section>
-->