<div class="m-2 redesYlogin">
    <a class="m-2" href="https://api.whatsapp.com/send/?phone=5491154547931&text=Hola%20vimos%20tu%20curriculum%20y%20nos%20interesaria%20charlar%20con%20vos...%20&app_absent=0" target="_blank"><i class="bi bi-whatsapp"></i></a>
    <a class="m-2" href="https://www.linkedin.com/in/sofiacorrado" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a class="m-2" href="mailto:sofiacorrado18@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
    <a class="m-2" href="https://www.github.com/csof18" target="_blank"><i class="bi bi-github"></i></a>
    <app-login></app-login>
</div>