.datosPersonales{
    position: relative;
}
.perfil{
    position: absolute;
    width: 140px;
    height: 130px;
    left: 4%;
    bottom: 50%;
}
.datos{
    position: relative;
    text-align: justify;
    top: 50px;
}
@media(max-width:767px){
    .perfil{
        position: absolute;
    width: 140px;
    height: 130px;
    left: 2px;
    bottom: 20%;
        /*
        position: absolute;
        width: 140px;
        height: 130px;
        left: 4%;
        bottom: 10%;
        */
    }
    .datos{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        top: 10px;
    }
}




@media(min-width:992px) and (max-width:1199px){
    .datos{
        position: relative;
        text-align: justify;
        top: 50px;
        left: 4%;
    }
}