<div>
    <h3>Experiencia académica</h3>
    <ol>
        <li>
            Vida en pixeles
            CoderHouse | HTML | CSS | SASS | Bootstrap | GIT
            Desarrollo de sitio web responsive basada en una agencia de fotografía
        </li>
        <li>
            Escuela de Arte Culinario Argentino
            Le Wagon | HTML | CSS | Bootstrap |GIT
            Desarrollo de pagina web responsive de una escuela gastronomica
        </li>
        <li>
            Formulario de inscripciones para colegios
            CoderHouse | HTML | CSS | Bootstrap | JavaScript | Jquery | GIT
            Desarrollo de formulario dinamico utilizado para consultar e inscribir alumnos
        en un establecimiento
        </li>
        <li>
            Regalame y regalate
            CoderHouse | HTML | CSS | Bootstrap | JavaScript | React Js | Node js | GIT
            Desarrollo de sitio web responsive con carrito de compras incluido
        </li>
        <li>
            Curriculum Vitar
            Argentina Programa | HTML | CSS | Bootstrap | Angular | GIT
            .......
        </li>
    </ol>
</div>