<section class="habilidadesBlandas m-2">
    <app-editar-habilidades></app-editar-habilidades>
    <h3>Habilidades Blandas</h3>
    <div *ngFor="let habilidades of listaHabilidadesBlandas" class="card col-3 d-inline-block p-1">
        <img src="{{habilidades.img}}" class="card-img-top" alt="{{habilidades.habilidad}}">
        <div class="card-body habilidades">
            <h6 class="card-title">{{habilidades.habilidad}}</h6>
            <div>
                <app-nivel-de-habilidades></app-nivel-de-habilidades>
            </div>
        </div>
    </div>
</section>

<section class="habilidadesDuras m-2">
    <app-botones-de-edicion></app-botones-de-edicion>
    <h3>Habilidades duras</h3>
    <div *ngFor="let habilidades of listaHabilidadesDuras" class="card col-3 d-inline-block p-1">
        <img src="{{habilidades.img}}" class="card-img-top" alt="{{habilidades.habilidad}}">
        <div class="card-body habilidades">
            <h6 class="card-title">{{habilidades.habilidad}}</h6>
            <div class="card-text">
                <app-nivel-de-habilidades></app-nivel-de-habilidades>
            </div>
        </div>
    </div>
</section>
<!--ESTRELLAS
<button class="bi bi-star-fill colorEstrella"></button>
<button class="bi bi-star-half colorEstrella"></button>
-->