body{
    /*
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #51190599 74%);
    background-color: #f8002f;
    background-image: linear-gradient(326deg, #56242d 0%, #000c14 74%);
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    */
    /*
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #191714 0%, #131e69 74%, #2234ae 74%);
    background-color: #0d0a0b;
    
    background-image: linear-gradient(315deg, #0d0a0b 0%, #054250 74%);
    */
    /*background-image: linear-gradient(315deg, #191714 0%, #131e69 60%, #0013938a 74%);
    background-color: #0d0a0b;*/

    background-image: linear-gradient(315deg, #141313 0%, #131e69 60%, #00139333 74%);
    background-color: #0d0a0b;
    color: white;
}
ol{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 3%;
}
li{
    margin-bottom: 2%;
}
a{
    text-decoration: none;
    color: white;
}
h3{
    margin: 0.5%;
}
h6{
    margin-bottom: 0%;
}
p{
    margin: 0% 0% 0% 1%;
}
.gridEncabezado{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: 
    "encabezado botones"
    "banner banner"
    "datosPersonales acercaDe"
    "educacion educacion"
    "experiencia experiencia"
    "habilidadesuras habilidadesuras"
    "proyectos proyectos";
    border: solid;
    border-color: black;
}

.encabezado{
    grid-area: encabezado;
}

.botones{
    font-size: 25px;
    grid-area: botones;
    text-align: right;
}
.banner{
    grid-area: banner;
    color: white;
}
.datosPersonales{
    grid-area: datosPersonales;
}
.acercaDe{
    grid-area: acercaDe;
}
.educacion{
    grid-area: educacion;
}
.experiencia{
    grid-area: experiencia;
}
.habilidadesuras{
    grid-area: habilidadesuras;
}
.proyectos{
    grid-area: proyectos;
}