<section data-bs-toggle="modal" data-bs-target="#editarAcercaDe">
    <app-botones-de-edicion></app-botones-de-edicion>

    <div class="modal " id="editarAcercaDe" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editarAcercaDeLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
            <h5 class="modal-title" id="editarAcercaDeLabel">Sobre mi</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fs-5" [formControl]="formAcercaDe">
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5">Acerca de</label>
                        <input type="text" formControlName="acerca_de" class="rounded fs-6 p-2" placeholder="Breve descripción">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="bi bi-trash3"></i></button>
                <button type="button" class="btn btn-dark" ><i class="bi bi-pencil"></i></button>
            </div>
        </div>
        </div>
    </div>
</section>