<div>
    <!--FOTO PERFIL-->
</div>
<h1>Sofia Corrado</h1>
<h2>Full Stack developer</h2>
<div>
    <h3>Sobre mí</h3>
        <p>Soy una persona proactiva, motivada por obtener nuevos conocimientos.
        Luego de trabajar 10 años en ventas y atención al público, decidí
        cambiar de rumbo y dedicarme al desarrollo web, hoy en día me
        encuentro en búsqueda de mi primer empleo en el ámbito IT para
        continuar desarrollándome en nuevas tecnologías y metodologías que
        me permitan crecer
        </p>
</div>
