<section data-bs-toggle="modal" data-bs-target="#editarDatosPersonales">
    <div *ngIf="mostrarEditar" class="botonesEdicion">
        <div class="d-flex justify-content-end w-100 mb-1">
            <button type="button" class="btn btn-dark"><i class="bi bi-pencil"></i></button>    
        </div>
    </div>
    <div class="modal " id="editarDatosPersonales" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editarDatosPersonalesLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
            <h5 class="modal-title" id="editarDatosPersonalesLabel">Datos personales</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- [formGroup]="datosPersona" -->
                <form   *ngFor="let datos of datosPersonales" class="modal-body fs-5">
                    <div class="m-2 d-grid">
        
                        <label for="" class="m-2 fs-5">Nombre</label>
                        <input type="text" formControlName="nombre" class="rounded fs-6 p-2" placeholder="{{datos.nombre}}">
                    </div>
                    
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5" >Apellido</label>
                        <input type="text" formControlName="apellido" class="rounded fs-6 p-2" placeholder="{{datos.apellido}}">
                            
                    </div>
        
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5" >Titulo</label>
                        <input type="text" formControlName="titulo" class="rounded fs-6 p-2" placeholder="{{datos.titulo}}">
                    </div>
    
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5">Foto de perfil</label>
                        <input type="text" formControlName="foto_perfil" class="rounded fs-6 p-2" placeholder="{{datos.foto_perfil}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><i class="bi bi-trash3"></i></button>
                <button type="button" class="btn btn-dark" (click)="guardarDatosPersonaEditados()" [disabled]="formDatosPersona.invalid"><i class="bi bi-pencil"></i>Editar</button>
            </div>
            <p *ngIf="msjGuardar" class="m-4">Sus datos fueron editados correctamente</p>
        </div>
        </div>
    </div>
</section>


<!-- <section data-bs-toggle="modal" data-bs-target="#editarDatosPersonales">
    <app-botones-de-edicion></app-botones-de-edicion>

    <div class="modal " id="editarDatosPersonales" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editarDatosPersonalesLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
            <h5 class="modal-title" id="editarDatosPersonalesLabel">Datos personales</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="datosPersona" class="modal-body fs-5">
                    <div class="m-2 d-grid">
        
                        <label for="" class="m-2 fs-5">Nombre</label>
                        <select name="nombre" id="nombre" formControlName="nombre" class="form-control">
                            <option value="item.id" *ngFor="let item of nombres"></option>
                        </select>
                    </div>
                    
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5" >Apellido</label>

                          <select name="apellido" id="apellido" formControlName="apellido" class="form-control">
                            <option value="item.id" *ngFor="let item of apellidos"></option>
                          </select>  
                    </div>
        
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5" >Titulo</label>

                        <select name="titulo" id="titulo" formControlName="titulo" class="form-control">
                            <option value="item.id" *ngFor="let item of titulos"></option>
                        </select>
                    </div>
    
                    <div class="m-2 d-grid">
                        <label for="" class="m-2 fs-5">Foto de perfil</label>

                        <select name="fotoPerfil" id="fotoPerfil" formControlName="foto_perfil" class="form-control">
                            <option value="item.id" *ngFor="let item of fotosPerfil"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" (ngSubmit)="guardarDatosPersona()"><i class="bi bi-trash3"></i></button>
                <button type="button" class="btn btn-dark" ><i class="bi bi-pencil"></i></button>
            </div>
            <p *ngIf="msjGuardar">Sus datos fueron guardados</p>
        </div>
        </div>
    </div>
</section> -->